.container{
    display: flex;
    flex-direction:column;
    margin: auto;
    background-color: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
}

.text{
    color: #232177;
    font-size: 50px;
    font-weight: 700;
}

.underline{
    width: 100px;
    height: 6px;
    background: #232177;
    border-radius: 9px;

}

.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 500px;
    height: 80px;
    border-radius: 6px;
    background-color: #f8f1f1;
}
.input img{
    margin: 0px, 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(19, 19, 17);
    font-size: 20px;
}

.forgot-password{
    padding-left: 80px;
    margin-top: 20px;
    color: #695353;
    font-size: 18px;
}

.forgot-password span{
    color: #db1919;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #232177;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #676768;
}